@import '../../../../styles/colors';

.primary-button {
  background: $utility-blue-700;
  box-shadow: 0 3px 5px 0 #1d4ed80a;
  color: $primary-white;
}

.primary-button svg path {
  fill: $primary-white;
}

.primary-button:hover {
  background: $utility-blue-800;
}

.primary-button:active {
  background: $utility-blue-900;
}

.primary-button:focus {
  background: $utility-blue-700;
  outline: 2px solid $utility-blue-300;
}
