@import '../../../../styles/boxes';
@import '../../../../styles/colors';
@import '../../../../styles/typography';
@import '../../../../styles/variables';

button.gustave-button.bordered-button {
  border: 1px solid $gray-500;
  padding: $button-border-padding;
}

button.gustave-button.bordered-button.icon-only-button {
  padding: $button-icon-border-padding;
}

button.gustave-button.bordered-button:focus {
  border-color: transparent;
}

button.gustave-button.bordered-button.small-button {
  padding: $button-border-padding-small;
}

button.gustave-button.bordered-button.icon-only-button.small-button {
  padding: $button-icon-border-padding-small;
}
