@import '../../../../styles/boxes';
@import '../../../../styles/typography';
@import '../../../../styles/variables';

button.gustave-button {
  @include medium-text-base;
  @include flexbox-gap-centered(8px);
  padding: $button-padding;
  border-radius: $button-border-radius;
  cursor: pointer;
  border: none;
  outline: none;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 50%;
}
