@import '../../../../styles/boxes';
@import '../../../../styles/colors';
@import '../../../../styles/typography';
@import '../../../../styles/variables';

button {
  all: unset;
  display: flex;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus:not(:-moz-focusring) {
  outline: none;
}

button.gustave-button {
  @include medium-text-base;
  @include flexbox-gap-centered(8px);
  padding: $button-padding;
  border-radius: $button-border-radius;
  cursor: pointer;
  border: none;
  outline: none;
  height: 24px;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 50%;
}

.gustave-button:focus {
  outline: 2px solid $utility-blue-300;
}
