@mixin flexbox($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin flexbox-gap-centered($gap: 8px, $flex-direction: row) {
  @include flexbox($flex-direction);
  justify-content: center;
  align-items: center;
  gap: $gap;
}
