// Spacing
$button-padding: 12px 16px;
$button-border-padding: 11px 15px;
$button-padding-small: 10px 16px;
$button-border-padding-small: 9px 15px;

$button-icon-padding: 12px;
$button-icon-border-padding: 11px;
$button-icon-padding-small: 10px;
$button-icon-border-padding-small: 9px;

//Rounded corners
$button-border-radius: 8px;
